body {
    background: url(image/547278.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    color: antiquewhite;
    transition: 3s;
}
ul{
    float:right;
    list-style-type:none;
    margin-top:25px;

}
ul li{
    display:inline-block;
}
ul li a{
    text-decoration:none;
    color:darkslategrey;
    padding:5px 20px;
    border:1px solid;
    transition:0.6s;
    margin-top:10px;
}
ul li a:hover{
    background-color:wheat;
}
p{
    text-align: left;
    color: antiquewhite;
    transition: 6s;
}